@import '~bootstrap/scss/bootstrap';

* {
    background: lightblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h1 {
    color: red;
    font-size: large;
}

h2, h3 {
    color: red;
}